<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Zach's blog</title>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">	
	</head>

	<body>
		<!-- Side Panel -->
		<div class="container-fluid">
			<div class="row">
				<div class="leftpanel hidden-sm">		
					<div>
						<div class="zachary logo">
							Zach		
						</div>	
						<div class="zachary">
							Blog
						</div>		
						<div class="zachary">
							Projects
						</div>
						<div class="zachary">
							Contact
						</div>
						<div class="zachary">
							<a href="/login" > Local Login</a>        		
						</div>	
						<div class="zachary">
							<a href="/signup"> Sign Up</a>        		
						</div>	        		
						</div>	
						<div >
							<img id="twitterIcon" src="images/twitterWhite2.png">
							<img id="linkedIcon" src="images/In-White-41px-TM.png">
							<a id="githubIcon"><img src="images/github.png"></a>
						</div>
					</div>
				</div>	
				
		<div class="">
				<div class="rightpanel hidden-sm">
				
					<div>
					
					</div>
				</div>
		</div>
					
		<div class="container">
			<div class="row">
				<div id="content"></div>
				<div id="CommentForm"></div>
				<div id="hateButton"></div>		
				<div id="blog-form"></div>
				<div id="Github"></div>
				
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script type="text/javascript" src="./static/bundle.js"></script>
    	// <!-- <script type="text/babel" src="js/app.js"></script>
    	// <script type="text/babel" src="js/github.js"></script>
    	// <script type="text/babel" src="js/blogForm.js"></script>
    	// <script type="text/babel" src="js/hateButton.js"></script> -->
	</body>
</html>